{% extends 'base.html' %}
{% block text %}
  About
{% endblock %}
{% block content %}
  {% for ab in abouts %}
    <header>
      <p>Company logo:</p>
    </header>
    <img src="{{ ab.logo.url }}" class="company-logo" style="max-width: 100%; height: auto; display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; clear: both;" />
    <video width="50%" height="240" class="company-preview" style="max-width: 800pzx; max-height: 450px;width: 100%; height: auto; float: left;" controls>
      <source src="{{ ab.video.url }}" type="video/mp4" />Your browser does not support the video tag.
    </video>
    <strong><p style="word-break: break-all;">(Данный сайт был разработан не очень идейным программистом за чашку кофе). Просьба все-таки оценить старания программиста и не сразу резать,а внимательно оценить выбор цветовой палитры,ведь это единственное,над чем старалась сие персона. А пока можете скачать данное промо-видео нашей компании,по каким бы причинам оно вам не было нужно</p></strong>
    <a download href="{{ ab.video.url }}"><button class="btn btn-outline-success">Download</button></a>
    <strong><p style="clear: both;">{{ ab.requisites }}</p></strong>
    <p>Certificates: {{ ab.cert }}</p>
    <p>Company info: {{ ab.text }}</p>
  {% endfor %}
  <section>
    <button id="pause">Pause</button>
    <button id="play">Play</button>
    <button id="cancel">Cancel</button>
    <button id="faster">Faster</button>
    <button id="slower">Slower</button>
  </section>
  <div id="rect" style="width: 150px; height: 150px; margin: 75px; background-color: var(--red);"></div>
  <script defer src="/static/js/custom_animation.js"></script>
  <a href="/"><button accesskey="x">Return</button></a>
{% endblock %}
