{% extends 'base.html' %}
{% block style %}
  <style>
    .box {
      border: 10px solid black;
      padding: 10px;
      margin: 10px;
    }
  </style>
{% endblock %}
{% block title %}
  Contacts
{% endblock %}

{% block content %}
  <div class="contacts-container">
    {% for contact in contacts %}
      <article class="box" style="width: max-content; height: max-content;" itemscope itemtype="http://schema.org/Person">
        <h2>{{ contact.username }}</h2>
        {% if contact.photo %}
          <image src="{{ contact.photo.url }}" width="500" height="300"></image>
        {% endif %}
        <p>{{ contact.description }}</p>
      </article>
    {% endfor %}
  </div>
  <a href="/"><button>Return</button></a>
{% endblock %}
