{% extends 'base.html' %}
{% block style %}
  <style>
    .box {
      border: 10px solid black;
      padding: 10px;
      margin: 10px;
    }
  </style>
{% endblock %}
{% block title %}
  Contacts
{% endblock %}

{% block content %}
  {% for contact in contacts %}
    <article class="box" style="width: max-content; height: max-content;">
      <h2>{{ contact.user.username }}</h2>
      <image src="{{ contact.photo.url }}" width="500" height="300"></image>
      <p>{{ contact.description }}</p>
    </article>
  {% endfor %}
  <a href="/"><button>Return</button></a>
{% endblock %}
