{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% block content %}
  <nav>
    <ul style="display: flex; flex-direction: column;">
      <li>
        <a href="/faqs">FAQ</a>
      </li>
      <li>
        <a href="/news">News</a>
      </li>
      <li>
        <a href="/contacts">Contacts</a>
      </li>
      <li>
        <a href="/policy">Policy</a>
      </li>
      <li>
        <a href="/comments">Comments</a>
      </li>
      <li>
        <a href="/promocodes">Promocodes</a>
      </li>
      <li>
        <a href="/partners">Partners</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/cart">Cart</a>
      </li>
      {% if not user.is_superuser %}
        <a href="/personal_account">Personal account</a>
      {% endif %}
    </ul>
  </nav>
  {% if role == 'client' %}
    {% if wholesalers.count > 0 %}
      <h2>Wholesalers</h2>
      <table>
        <thead>
          <th>Name</th>
          <th>Phone</th>
        </thead>
        {% for wholesaler in wholesalers %}
          <tr>
            <td>{{ wholesaler.name }}</td>
            <td>{{ wholesaler.phone_number }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
    {% if bought.count > 0 %}
      <h2>Bought furnitures</h2>
      <table>
        <thead>
          <th>Name</th>
          <th>Bought at</th>
          <th>Owner name</th>
        </thead>
        {% for pr in bought %}
          <tr>
            <td>{{ pr.furniture.name }}</td>
            <td>{{ pr.bought_at }}</td>
            <td>{{ pr.owner.username }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  {% endif %}
  {% if role == 'customer' %}
    {% if bought.count > 0 %}
      <h2>Bought furnitures</h2>
      <table class="parallax-container" id="bought-fur">
        <thead class="parallax-text">
          <th>Name</th>
          <th>Bought at</th>
          <th>Price</th>
        </thead>
        {% for pr in bought %}
          <tr class="bought-row">
            <td>{{ pr.furniture.name }}</td>
            <td>{{ pr.bought_at }}</td>
            <td>{{ pr.furniture.price }}</td>
          </tr>
        {% endfor %}
      </table>
      <section id="pagination-container"></section>
    {% endif %}
    {% if furnitures.count > 0 %}
      <h2>Furnitures</h2>
      {% for furniture in furnitures %}
        <article style="border:1px solid var(--text-color); padding-bottom: 5px; margin: 5px; width: max-content; height: max-content; text-align: center">
          <table style="caption-side: bottom;">
            <caption>Our product</caption>
            <thead>
              <th>Category</th>
              <th>Name</th>
              <th>Price</th>
            </thead>
            <tr>
              <th id="first" headers="category">Favorite:</th>
              <td>{{ furniture.name }}</td>
              <td>{{ furniture.price }}</td>
            </tr>
          </table>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ furniture.name }}" />
            <input type="hidden" name="price" value="{{ furniture.name }}" />
            <input type="hidden" name="id" value="{{ furniture.id }}" />
            <input type="submit" value="Add" />
          </form>
        </article>
      {% endfor %}
    {% endif %}
    <h2>History of coupons</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total discount</th>
          <th>Is archivated?</th>
        </tr>
      </thead>
      {% for coupon in coupons %}
        <tr>
          <td>{{ coupon.name }}</td>
          <td>{{ coupon.discount }}%</td>
          <td>{{ coupon.is_archivated }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href="/"><button>Return</button></a>
  <script defer src="/static/js/parallax.js"></script>
  <script defer src="/static/js/another_pag.js"></script>
{% endblock %}
