{% extends 'base.html' %}
{% block style %}
  <style>
    .box {
      border: 10px solid black;
      padding: 10px;
      margin: 10px;
    }
  </style>
{% endblock %}
{% block title %}
  Policy
{% endblock %}

{% block content %}
  <h1 class="title-policy"><q lang="fr">POLICY OF OOO RGKPT</q></h1>
  <p class="box-policy">our company is after everything good, and against everything bad. we provide the best services for our users all around the world, at the lowest price imaginable and blah blah blah</p>
  <article class="cert-container">
    <p class="policy-title">
      <strong>Общество с ограниченной ответственностью</strong><br />
    </p>
    <p class="policy-name">
      <u>Рога и Копыта</u>
    </p>
    <img src="../static/standard.png" class="cert-logo" />
    <img src="../static/concern.png" class="concern-image" />
    <p>
      <i><p class="policy-general">Ассоциация "Объединение промышленников в сфере деревообаботки "БЕЛЛЕСБУМПРОМ" 101000 г.Минск, ул. Пушкина, дом 52 Тел. +375295357899 email: office@bellesbumprom.com</p></i>
    </p>
  </article>
  <a href="/"><button>Return</button></a>
{% endblock %}
