{% extends 'base.html' %}

{% block style %}

{% endblock %}

{% block content %}
  {% if coupons.count > 0 %}
    <details open>
      <summary>Coupons will only work at your birthday</summary>
      <p>According to the 53-rd law of the Republic of Belarus and blah blah blah.</p>
    </details>
    <h2>All coupons</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total discount</th>
        </tr>
      </thead>
      {% for coupon in coupons %}
        <tr>
          <td>{{ coupon.name }}</td>
          <td>{{ coupon.discount }}%</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <a href="/"><button>Return</button></a>
  <script defer src="/static/js/age_filter.js"></script>
{% endblock %}
